html{
  font-family: '"Helvetica Condensed"', helvetica;
}
body{
  background-color: blue;
  border: 5px solid black;
}
ul{
  background-color: black;
}
h1{
  color: black;
}
p{
  color: yellow;
}
li{
  color: yellow;
}
